<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id = 'app'>
        <!--<p v-for="(item,i) in list">{{i}}:{{item}}</p>-->
        <!--<p v-for="(value,key,index) in user">索引：{{index}}:键：{{key}}:值：{{value}}</p>-->
        <!--<p v-for="(user,i) in users">索引：{{i}}---ID:{{user.id}}---Name:{{user.name}}</p>-->
        <!--<p v-for="count in 10">Num:{{count}}</p>-->
        <div>
            <label>Id:
                <input type="text" v-model="id">
            </label>

            <label>Name:
                <input type="text" v-model="name">
            </label>

            <input type="button" value="添加" @click="add">
        </div>
        <p v-for="item in users" :key="item.id">
            <input type="checkbox">{{item.id}}---{{item.name}}
        </p>
    </div>

</body>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            users:[{
                id:1,
                name:'Alex',
            }, {

                id:2,
                name:'Jack'
    }]
        },
        methods:{
            add(){
                this.users.unshift({id:this.id,name:this.name})
            }
        }
    })
</script>
</html>